<!DOCTYPE html>
<html lang="cs-CZ">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <title>Obțineți de la 15000 de lei pe săptămână cu platforma noastră</title>
    <meta content="" name="keywords">
    <meta property="og:title" content="Obțineți de la 15000 de lei pe săptămână cu platforma noastră" />
    <meta property="og:image" content="img/bg_5fa8_8.jpg" />
    <meta property="og:description" content="Pentru fiecare cetățean român">
    <meta name="description" content="Pentru fiecare cetățean român">
    <link rel="apple-touch-icon" sizes="180x180" href="./img/apple-touch-icon_5ee3_4.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon-16x16_1f66_5.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon-16x16_1f66_5.png">
    <link rel="mask-icon" href="./img/safari-pinned-tab_9da8_6.svg" color="#737a7c">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="site-wrapper">
        <div class="site-content">
            <main class="main page" id="app">
                <section class="page__row">
                    <div class="container">
                        <div class="content-wrapper">
                            <div class="left-block">
                                <h1 class="page-title">Platforma promite un venit garantat de 15 000 de lei pe săptămână cu investiții minime.</h1>
                                <div class="image-container">
                                    <img src="./img/bg_5fa8_8.jpg" alt="Obrázek">
                                </div>
                            </div>
                            <div class="right-block">
                                <form name="waitlist" method="post" class="form">
                                    <div class="form__header form__item">Aceasta este o știre pentru fiecare cetățean român!</div>
                                    <vue-slider v-model="views" :data="data" ref="avg_views" v-bind="viewsOpts" class="form__item"></vue-slider>
                                    <input type="hidden" id="waitlist_avg_views" name="waitlist[avg_views]" v-model="views" />
                                    <div class="form__slider-row form__item">
                                        <div class="form__slider-label"></div>
                                    </div>
                                    <button class="btn">
                                        <a href="https://spectraxro.com/mWvcrnDW?utm_campaign=Ded">Citește știrea</a>
                                    </button>
                                </form>
                                <div class="steps">
                                    <div class="steps__item">
                                        <div class="steps__icon">
                                            <svg viewBox="0 0 24 24">
                                                <path d="M9 16.2l-4.2-4.2-1.4 1.4 5.6 5.6 12-12-1.4-1.4z" />
                                            </svg>
                                        </div>
                                        <div class="steps__label">Descoperă noua platformă MOL România Investments! Folosește tehnologia AI pentru tranzacționare automată și accesează piețe globale cu un depozit minim de 50 €. Începe acum cu un cont demo fără riscuri.</div>
                                    </div>
                                    <div class="steps__item">
                                        <div class="steps__icon">
                                            <svg viewBox="0 0 24 24">
                                                <path d="M9 16.2l-4.2-4.2-1.4 1.4 5.6 5.6 12-12-1.4-1.4z" />
                                            </svg>
                                        </div>
                                        <div class="steps__label">Investește inteligent cu MOL România Investments! Platforma inovatoare oferă tranzacționare 24/7, instrumente avansate și securitate de top. Alătură-te comunității globale de traderi.</div>
                                    </div>
                                    <div class="steps__item">
                                        <div class="steps__icon">
                                            <svg viewBox="0 0 24 24">
                                                <path d="M9 16.2l-4.2-4.2-1.4 1.4 5.6 5.6 12-12-1.4-1.4z" />
                                            </svg>
                                        </div>
                                        <div class="steps__label">Profita de oportunitățile financiare cu MOL România Investments! Tranzacționează crypto, forex și acțiuni prin intermediul algoritmilor inteligenți. Rapid, sigur și accesibil pentru toți.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        
        <div class="footer" style="z-index: 99999;">
            <span class="footer__item" id="cname">©2025 Toate drepturile rezervate</span>

            <a href="policy.html">Politica de confidențialitate</a>
        </div>
 
        
    <script src="./js/vendor_2bb2_2.js"></script>
    <script src="./js/main_fcd1_3.js"></script>
    

</body>

</html>
